*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(24, 121, 88), rgb(101, 34, 146));
}

.calculator-grid {
    background-color: rgb(15, 15, 15);
    border: 1px solid white;
    border-radius: 30px;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    color: rgb(207, 200, 200);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
    border-radius: 40px;
    outline: none;
    background-color: rgb(39, 43, 41); 
}

.calculator-grid > button:hover {
    background-color: rgb(236, 129, 6);
    color: black;
}

.span2 {
    grid-column: span 2;
}

.output {
    margin: 10px ;
    height: 200px;
    grid-column: 1 / -1;
    margin-top: 15px;
    background-color: rgb(24, 22, 22);
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 25px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgb(226, 231, 235);
    padding-top: 40px;
    font-size: 20px;
}

.current-operand {
    color: white;
    padding-bottom: 0px;
    font-size: 30px;
}
